server:
  port: 8080

spring:
  application:
    name: demo
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
    driver-class: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
      default-batch-size: 200
    show-sql: true
  redis:
    port: 6379
jwt:
  header: Authorization
  secret: ${jwt.secret}
  token-validity-in-seconds: ${jwt.token.validity}





